<%@page_title = "Password Edit"%>

<%if admin?%>
<%=link_to "<<Назад",:action => 'edit',:user_id => params[:user_id],:sort_param_key => params[:sort_param_key],:sort_param_value => params[:sort_param_value] %>
<%end%>

<p><%=render(:partial => 'shared/password_form')%></p>

