<div id="password_form">
	<% form_for(:user,:url => {:controller => "#{ params[:controller]}", :action => 'password_update',:user_id => session[:user_id]}) do |u|%>
	<table>
		
		<tr>
			<th>Текущий Пароль</th>				
			<td><%=u.password_field :password %></td>
		</tr>	
		<tr>
			<th>Новый Пароль</th>				
			<td><%=u.password_field :new_password %> (Более 7 символов)</td>
		</tr>	
		<tr>
			<th>Подтверждение пароля</th>				
			<td><%=u.password_field :password_confirmation %></td>
		</tr>			
	</table>
		
	<div id="save_button">
		<td><%= submit_tag 'Сохранить пароль'%></td>
	</div>	
	<%end%>
</div>
